<script src="static/addInputField.js" defer></script>
{% extends "layout.html" %}
{% block content %}
<h1>新規レシピ</h1>
<form method="POST" enctype="multipart/form-data">
    <div>
        <label for="title">料理名</label>
        <input type="text" name="title" placeholder="（例）トマトパスタ (1人前)" required>
    </div>
    <div>
    レシピ写真選択  <input type="file" name="file" id="fileInput"><br>
    </div>
    <div>
        <img id="preview" src="" alt="画像プレビュー" style="max-width: 300px; display: none;">
    </div>
    <!-- 動的入力欄のコンテナ1 -->
    <div id="dynamic-input-container">
        <label for="ingredient">材料 / 分量:</label>
        <br>
        <input type="text" name="dynamic_ingredient" placeholder="（例）パスタ" required>
        <input type="text" name="dynamic_quantity" placeholder="（例）100g" required>
        <br>
    </div>
    <button type="button" onclick="addInputFields()">行追加</button>
    <br><br>
    <!-- 動的入力欄のコンテナ2 -->
    <div id="dynamic-input-container2">
        <label for="instructions">手順</label>
        <br>
        <input type="text" name="dynamic_instruction" placeholder="(例)にんにくを刻み、オイルとにんにくを弱火で炒める" required>
        <br>
    </div>
    <button type="button" onclick="addInputFields2()">行追加</button>
    <br><br>
    <div>
        <label for="cook_time">料理時間</label>
        <input type="text" name="cook_time" placeholder="(例)30分">
    </div>
    <br>
    <div>
        <label for="memo">メモ・コツ</label>
        <br>
        <textarea id="memo" name="memo" rows="4"></textarea>
        <br>
    </div>
    <br>
    <button id="register" type="submit">レシピ追加する</button>
</form>

<br><br>
<a href="{{ url_for('index') }}">戻る</a>

<script>
    document.getElementById("fileInput").addEventListener("change", function(event) {
        const file = event.target.files[0];
        if (file) {
            const reader = new FileReader();
            reader.onload = function(e) {
                const img = document.getElementById("preview");
                img.src = e.target.result;
                img.style.display = "block";
            };
            reader.readAsDataURL(file);
        }
    });
</script>
{% endblock %}
