<script src="static/addInputField.js" defer></script>
{% extends "layout.html" %}
{% block content %}
<style>
    .btn-custom {
        background-color: #FACB00;
        border-color: #FACB00;
        color: black;
    }
    .btn-custom:hover {
        background-color: #E0B000;
        border-color: #E0B000;
    }
</style>
<h1 class="text-center mt-4 mb-4">新規生成レシピ</h1>
<div class="container d-flex justify-content-center align-items-center" style="min-height: 100vh;">
    <form method="POST" enctype="multipart/form-data" class="shadow-lg p-4 rounded bg-light" style="width: 100%; max-width: 600px;">
        <div class="mb-3">
            <label for="title" class="form-label">料理名</label>
            <input type="text" name="title" value="{{ dish_name }} ({{gemini_recipe.get('何人前')}})" class="form-control" required>
        </div>

        <div class="mb-3">
            <label for="fileInput" class="form-label">レシピ写真選択</label>
            <input type="file" name="file" id="fileInput" class="form-control">
        </div>
        
        <div class="mb-3 text-center">
            <img id="preview" src="" alt="画像プレビュー" style="max-width: 300px; display: none;">
        </div>

        <!-- 動的入力欄のコンテナ1 (材料 / 分量) -->
        <div id="dynamic-input-container" class="mb-3">
            <label for="ingredient" class="form-label">材料 / 分量</label>
            {% for dict_ingredient in gemini_recipe.get('材料') %}
                <div class="input-group mb-2">
                    <input type="text" name="dynamic_ingredient" value="{{ dict_ingredient['name'] }}" class="form-control" required>
                    <input type="text" name="dynamic_quantity" value="{{ dict_ingredient['quantity'] }}" class="form-control" required>
                    {% if not loop.first %}
                        <button type="button" class="btn btn-danger btn-sm input-group-text" onclick="removeInputField(this)">削除</button>
                    {% endif %}
                </div>
            {% endfor %}
        </div>
        <button type="button" class="btn btn-secondary" onclick="addInputFields()">行追加</button>

        <!-- 動的入力欄のコンテナ2 (手順) -->
        <div id="dynamic-input-container2" class="mb-3">
            <label for="instructions" class="form-label">手順</label>
            {% for dict_step in gemini_recipe.get('手順') %}
                <div class="input-group mb-2">
                    <input type="text" name="dynamic_instruction" value="{{ dict_step }}" class="form-control" required>
                    {% if not loop.first %}
                        <button type="button" class="btn btn-danger btn-sm input-group-text" onclick="removeInputField(this)">削除</button>
                    {% endif %}
                </div>
            {% endfor %}
        </div>
        <button type="button" class="btn btn-secondary" onclick="addInputFields2()">行追加</button>

        <div class="mb-3">
            <label for="cook_time" class="form-label">料理時間</label>
            <input type="text" name="cook_time" class="form-control" value="{{ gemini_recipe.get('調理時間') }}">
        </div>

        <div class="mb-3">
            <label for="memo" class="form-label">メモ・コツ</label>
            <textarea id="memo" name="memo" class="form-control" rows="4">{{ "\n".join(gemini_recipe.get('調理ポイント')) }}</textarea>
        </div>

        <div class="text-center">
            <button id="register" type="submit" class="btn btn-custom">レシピを追加</button>
        </div>
    </form>

</div>

<script>
    // 画像プレビュー
    document.getElementById('fileInput').addEventListener('change', function(event) {
      const file = event.target.files[0];
      if (file) {
        const reader = new FileReader();
        reader.onload = function(e) {
          document.getElementById('preview').src = e.target.result;
          document.getElementById('preview').style.display = 'block';
        };
        reader.readAsDataURL(file);
      }
    });

    // 削除ボタンの動作
    function removeInputField(button) {
        button.parentElement.remove();
    }

</script>

{% endblock %}
