{% extends "layout.html" %}

{% block content %}
<h2>{{ username }}さん  こんにちは</h2>
<a>current_user.id : {{ current_user.id }}</a><br>
{% for recipe in recipes%}
<a>[recipe]{{ recipe }}</a><br>
{% endfor %}

<a href="{{ url_for('add_recipe') }}" role="button">新規レシピ作成</a>
<div class="container mt-4">
    <h2>レシピ一覧</h2>
    <table class="table table-striped">
        <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">料理名</th>
              <th scope="col">料理時間(分)</th>
              <th scope="col">最終更新時間</th>
            </tr>
        </thead>
        <tbody>
            {% for i, recipe in enumerate(recipes, 1) %}
            <tr>
              <th scope="row">{{ i }}</th>
              <td><a href="{{ url_for('recipe_detail', recipe_id=recipe['SK']) }}">{{ recipe['title'] }}</a></td>
              <td>{{ recipe['cook_time'] }}</td>
              <td>{{ recipe['updated_at'] }}</td>
            </tr>
            {% endfor %}
    </table>
</div>
<a href="{{ url_for('dragAndDrop') }}" role="button">DragAndDrop</a><br>
<br><br>
<a href="{{ url_for('logout') }}" role="button">ログアウト</a>
{% endblock %}
