{% extends "layout.html" %}

{% block content %}
<h2>{{ username }}さん  こんにちは</h2>

<a href="#" role="button">新規レシピ作成</a>
<div class="container mt-4">
    <h2>従業員一覧</h2>
    <table class="table table-striped">
        <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">料理名</th>
              <th scope="col">料理時間(分)</th>
              <th scope="col">最終更新時間</th>
            </tr>
        </thead>
        <tbody>

        </tbody>
    </table>
    <a>{{ response }}</a>
</div>

<br><br>
<a href="#" role="button">ログアウト</a>
{% endblock %}
