{% extends "layout.html" %}

{% block content %}
  <div class="container mt-4">
    <h2 class="text-center">{{ recipe['title'] }}</h2>

    <div class="row">
        {% if signed_url %}
        <div class="col-md-4 text-center">
          <img src="{{ signed_url }}" alt="S3 Image" class="img-fluid rounded shadow">
        </div>
        {% endif %}
        <div class="col-md-8">
          <table class="table table-bordered">
          <thead class="table-light">
            <tr>
              <th scope="col">材料</th>
              <th scope="col">分量</th>
            </tr>
          </thead>
          <tbody>
            {% for dict_ingredient in recipe["ingredient"] %}
              <tr>
                <td>{{dict_ingredient["name"]}}</td>
                <td>{{dict_ingredient["quantity"]}}</td>
              </tr>
            {% endfor %}
          </tbody>
          </table>
        </div>
    </div>

    <div class="step mt-4">
      <h5>手順：</h5>
      <ul class="list-group">
        {% for i, step in enumerate(recipe['step'], 1) %}
        <li class="list-group-item">{{ i }}. {{ step }}</li>
        {% endfor %}
      </ul>
    </div>

    <div class="memo mt-4">
      <h5>メモ・コツ：</h5>
      <div>
      {% if recipe['memo'] == {'NULL': true} %}
        <p class="text-muted">特になし</p>
      {% else %}
        <p>{{ recipe['memo'] }}</p>
      {% endif %}
      </div>
    </div>

    <div class="row border p-2 mb-3">
      <div class="col-sm-3">
        <h5>最終更新日：</h5>
        <p>{{ recipe['updated_at'] }}</p>
      </div>
    </div>

    <div class="d-flex gap-2">
        <a href="{{ url_for('upgrade_recipe', recipe_id=recipe['SK']) }}"
          class="btn"
          style="background-color: #FACB00; border-color: #FACB00; color: #212529;">
          編集する
        </a>
        <a href="{{ url_for('delete_recipe', recipe_id=recipe['SK']) }}" 
          class="btn"
          style="background-color: #E63946; color: #FFFFFF; border: none;" 
          onclick="return confirmDelete(event, this.href);">
          削除する
        </a>
        <a href="{{ url_for('index') }}" class="btn btn-secondary">戻る</a>
    </div>
  </div>

<script>
    function confirmDelete(event, url) {
        if (confirm("本当に削除しますか？")) {
            window.location.href = url;  // OKなら削除リンクへ
        } else {
            event.preventDefault();  // キャンセルなら処理中断
        }
    }
</script>
{% endblock %}
