{% extends "layout.html" %}

{% block content %}
<h1>アカウントを作成する</h1>

    <!-- フラッシュメッセージ表示 -->
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            <ul style="list-style-type: none;">
                {% for category, message in messages %}
                    <li class="alert alert-{{ category }}">{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}

        <form method="post" action="{{ url_for('signup') }}">
            <div class="form-group">
                <label for="username">ユーザー名</label>
                <input type="text" id="username" name="username" class="form-control" placeholder="ユーザー名を入力" required>
            </div>
            <div class="form-group">
                <label for="email">E-mail</label>
                <input type="text" id="email" name="email" class="form-control" placeholder="例 : xxx@example.com" required>
            </div>
            <div class="form-group">
                <label for="password">パスワード</label>
                <input type="text" id="password" name="password" class="form-control" placeholder="パスワードを入力" required>
            </div>
            <div class="d-flex justify-content-center">
                <button type="submit" class="btn btn-secondary">登録</button>
            </div>
        </form>
        <a href="{{ url_for('login') }}" role="button">ログインに戻る</a>
{% endblock %}
