<script src="static/addInputField.js" defer></script>
{% extends "layout.html" %}
{% block content %}

<h1>レシピの編集</h1>
<form method="POST" enctype="multipart/form-data">
    <div>
        <label for="title">料理名</label>
        <input type="text" name="title" value="{{ recipe['title'] }}" required>
    </div>
    <div>
        {% if signed_url %}
        <img id="oldImage" src="{{ signed_url }}" alt="S3 Image" style="max-width: 300px;">
        {% endif %}
        <img id="newImage" style="max-width: 300px; display: none;">
    </div>
    <div>
        レシピ写真選択  <input type="file" id="fileInput" name="file"><br>
    </div>
    <!-- 動的入力欄のコンテナ1 -->
    <div id="dynamic-input-container">
        <label for="ingredient">材料 / 分量:</label>
        <br>

    {% for dict_ingredient in recipe['ingredient'] %}
        <div class="input-row">
            <input type="text" name="dynamic_ingredient" value="{{ dict_ingredient['name'] }}" required>
            <input type="text" name="dynamic_quantity" value="{{ dict_ingredient['quantity'] }}" required>
        </div>
    {% endfor %}

    </div>
    <button type="button" onclick="addInputFields()">行追加</button>
    <br><br>
    <!-- 動的入力欄のコンテナ2 -->
    <div id="dynamic-input-container2">
        <label for="instructions">手順</label>
        <br>
        {% for step in recipe['step'] %}
        <div class="input-row">
            <input type="text" name="dynamic_instruction" value="{{ step }}" required>
        </div>
        {% endfor %}
    </div>
    <button type="button" onclick="addInputFields2()">行追加</button>
    <br><br>
    <div>
        <label for="cook_time">調理時間</label>
        {% if recipe['cook_time'] == {'NULL': true} %}
        <input type="text" name="cook_time">
        {% else %}
        <input type="text" name="cook_time" value="{{ recipe['cook_time'] }}">
        {% endif %}
    </div>
    <br>
    <div>
        <label for="memo">メモ・コツ</label>
        <br>
        {% if recipe['memo'] == {'NULL': true} %}
        <textarea id="memo" name="memo" rows="4"></textarea>
        {% else %}
        <textarea id="memo" name="memo" rows="4">{{ recipe['memo'] }}</textarea>
        {% endif %}
        <br>
    </div>
    <br>
    <button id="register" type="submit">編集を完了する</button>
</form>

<br><br>
<a href="{{ url_for('index') }}">戻る</a>

<script>
    document.getElementById('fileInput').addEventListener('change', function(event) {
      const file = event.target.files[0];
      if (file) {
        const reader = new FileReader();
        reader.onload = function(e) {
          document.getElementById('newImage').src = e.target.result;
          document.getElementById('newImage').style.display = 'block';
          document.getElementById('oldImage').style.display = 'none';
        };
        reader.readAsDataURL(file);
      }
    });
  </script>
{% endblock %}

